
<form id="myForm" method="post">
    <input type="text" name="person.name" value="" />
    <input type="text" name="person.age" value="" />
    <input type="text" name="person.phone.country" value="" />
    <input type="text" name="person.phone.province" value="" />
    <input type="submit" value="submit" />
</form>